html, body {
  height: 100%;
}
.main-section {
  min-height: 100%;
  /* equal to footer height */
  padding-bottom: 160px;
  margin-bottom: -140px;
}
.main-section:after {
  content: "";
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn {
  border-radius: 30px;
  font-weight: 300;
}
.uppercase {
  text-transform: uppercase;
}
ul.disc {
  list-style-type: circle;
}
h2 {
  font-size: 18px;
}
h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.blur {
    -webkit-filter: blur(10px);
    filter: blur(10px);
}
.navbar, .navbar a {
  transition: all 0.3s;
}
.navbar-default {
    background: transparent;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #A94442;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #A94442;
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #A94442;
    background-color: transparent;
}

.navbar-inverse {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.12);
    background-color: white;
    border-color: #e6e6e6;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #A94442;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #A94442;
    background-color: transparent;
}
.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #A94442;
    background-color: transparent;
}

/*** Navbar on mobile ***/
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #000;
}

.hero_agency {
  background-image: url(/img/bathroom-tiles-dark.jpg);
  text-align:center;
  position: relative;
  color: #fff;
}
.hero {
  position: relative;
  padding: 170px 0 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 768px) {
    .hero {
      padding: 200px 0 70px;
  }
}

.hero .btn-link {
  color: #fff;
}
.hero-heading {
  color: #fff;
}
.hero-subheading {
  color: #fff;
  margin-bottom: 40px;
}

#gallery-descriptions {
  display: none;
}

#main-footer {
  margin-top: 60px;
  background-color: #333;
  color: #fff;
  padding: 30px 0 20px;
}
#main-footer p, #main-footer span, #main-footer a, #main-footer i {
  color: #fff;
}
.top-padding {
  padding-top: 80px;
}
.margintop20 {
  margin-top: 20px;
}
/******************************
 SECTIONS
 *****************************/

/*********** Home ************/
 #home h2 {
    margin: 70px 0 20px;
}

/*********** Work ************/
#work .work-section h2 {
    margin: 20px 0 40px;
}
#work .work-section p {
    margin: 30px 0;
}
