/************************************************** HTML5 Boilerplate ************************************************************/
/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/
/* =============================================================================
   HTML5 element display
   ========================================================================== */
/* line 15, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 16, ../sass/style.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 33, ../sass/style.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* body { margin: 0; font-size: 13px; line-height: 1.231; } */
/* line 37, ../sass/style.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */
/* line 45, ../sass/style.scss */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 46, ../sass/style.scss */
::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 54, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 56, ../sass/style.scss */
b, strong {
  font-weight: bold;
}

/* line 58, ../sass/style.scss */
blockquote {
  margin: 1em 40px;
}

/* line 60, ../sass/style.scss */
dfn {
  font-style: italic;
}

/* line 62, ../sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 64, ../sass/style.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 66, ../sass/style.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 69, ../sass/style.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 72, ../sass/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 74, ../sass/style.scss */
q {
  quotes: none;
}

/* line 75, ../sass/style.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 77, ../sass/style.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
/* line 80, ../sass/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 81, ../sass/style.scss */
sup {
  top: -0.5em;
}

/* line 82, ../sass/style.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 94, ../sass/style.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/*
 * Correct overflow displayed oddly in IE9 
 */
/* line 100, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 109, ../sass/style.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 116, ../sass/style.scss */
form {
  margin: 0;
}

/* line 117, ../sass/style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */
/* line 124, ../sass/style.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 127, ../sass/style.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 135, ../sass/style.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 142, ../sass/style.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 149, ../sass/style.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 155, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 156, ../sass/style.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */
/* line 163, ../sass/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Remove default vertical scrollbar in IE6/7/8/9 */
/* line 166, ../sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* Colors for form validity */
/* line 170, ../sass/style.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 177, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===========================================================================================================================================
   Primary styles
   Author: James Draper
   ======================================================================================================================================== */
/***************************************************************************/
/***************************************************************************/
/* line 230, ../sass/style.scss */
h1, h2 {
  font-family: "Arvo", "Mate SC", Georgia, serif;
  font-weight: normal;
  border-bottom: 1px solid #bb0000;
}

/* line 236, ../sass/style.scss */
body {
  background: #f5f5f5;
  /* Old browsers */
  background: url(../img/fabric.png), -moz-linear-gradient(top, #f5f5f5 0%, #a9a9a9 100%);
  /* FF3.6+ */
  background: url(../img/fabric.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #a9a9a9));
  /* Chrome,Safari4+ */
  background: url(../img/fabric.png), -webkit-linear-gradient(top, #f5f5f5 0%, #a9a9a9 100%);
  /* Chrome10+,Safari5.1+ */
  background: url(../img/fabric.png), -o-linear-gradient(top, #f5f5f5 0%, #a9a9a9 100%);
  /* Opera 11.10+ */
  background: url(../img/fabric.png), -ms-linear-gradient(top, #f5f5f5 0%, #a9a9a9 100%);
  /* IE10+ */
  background: url(../img/fabric.png), linear-gradient(top, #f5f5f5 0%, #a9a9a9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bgClr', endColorstr='$bgClrDark',GradientType=0 );
  /* IE6-9 */
  background-attachment: fixed;
}

/* line 247, ../sass/style.scss */
.border {
  border-bottom: 1px solid #cccccc;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 248, ../sass/style.scss */
.wrapper {
  background: white;
  padding: 0 20px;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.6), -1px 0 3px 1px rgba(0, 0, 0, 0.6);
  min-height: 620px;
}

/* line 249, ../sass/style.scss */
.rht {
  float: right;
}

/* line 250, ../sass/style.scss */
.lft {
  float: left;
}

/* line 251, ../sass/style.scss */
.cta {
  margin: 0;
  padding: 8px 10px 5px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  text-shadow: 0 -1px #330000;
  box-shadow: 0 1px rgba(0, 0, 0, 0.5);
  border-top: 1px solid #ff2222;
  border-right: 1px solid #880000;
  border-bottom: 2px solid #880000;
  border-left: 1px solid #880000;
  font-family: "Mate SC", "Times New Roman", serif;
  background: #bb0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(10%, #bb0000), color-stop(100%, #880000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* IE10+ */
  background: linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$highlightClr', endColorstr='$highlightClrDark',GradientType=0 );
  /* IE6-9 */
}

/* line 268, ../sass/style.scss */
.cta:hover {
  background: #bb0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dddddd 0%, #d40000 10%, #bb0000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(10%, #d40000), color-stop(100%, #880000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddddd 0%, #d40000 10%, #880000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddddd 0%, #d40000 10%, #880000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddddd 0%, #d40000 10%, #880000 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #d40000 10%, #880000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$highlightClr', endColorstr='$highlightClrDark',GradientType=0 );
  /* IE6-9 */
}

/* line 272, ../sass/style.scss */
.cta:active {
  border-top: 2px solid #880000;
  border-right: 1px solid #880000;
  border-bottom: 1px solid #bb0000;
  border-left: 1px solid #880000;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  padding: 7px 10px 6px;
  background: #ff2222;
  /* Old browsers */
  background: -moz-linear-gradient(top, #880000 0%, #bb0000 98%, white 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff2222), color-stop(100%, #bb0000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff2222 0%, #bb0000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff2222 0%, #bb0000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff2222 0%, #bb0000 100%);
  /* IE10+ */
  background: linear-gradient(top, #ff2222 0%, #bb0000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$highlightClrLight', endColorstr='$highlightClrDark',GradientType=0 );
  /* IE6-9 */
}

/* line 282, ../sass/style.scss */
header h1 {
  font-family: Italianno;
  font-size: 64px;
  display: inline;
  float: left;
  color: #333;
  border-bottom: none;
}

/* line 283, ../sass/style.scss */
a#logo {
  text-decoration: none;
}

/* line 285, ../sass/style.scss */
nav {
  float: left;
  display: inline;
}

/* line 286, ../sass/style.scss */
nav ul {
  float: right;
  margin: 40px 0 0 0;
}

/* line 287, ../sass/style.scss */
nav ul li, .slider ul li {
  list-style: none;
  display: inline;
  float: left;
}

/* line 288, ../sass/style.scss */
nav ul li {
  margin-right: 20px;
  font-family: "Mate SC", "Times New Roman", serif;
  font-size: 16px;
}

/* line 289, ../sass/style.scss */
nav ul li:last-child {
  margin-right: 0;
}

/* line 290, ../sass/style.scss */
nav ul li a {
  text-decoration: none;
}

/* line 291, ../sass/style.scss */
nav ul li a:hover {
  text-decoration: none;
}

/* line 292, ../sass/style.scss */
nav ul li a.active {
  border-bottom: 2px solid #bb0000;
}

/* line 294, ../sass/style.scss */
.homeSlider {
  width: 940px;
  height: 505px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
/* line 295, ../sass/style.scss */
.homeSlider ul {
  width: 10000px;
}
/* line 296, ../sass/style.scss */
.homeSlider ul li {
  margin: 10px;
  position: relative;
  list-style: none;
}
/* line 297, ../sass/style.scss */
.homeSlider ul li p {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 900px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  margin-bottom: 0;
  padding: 10px;
}

/* line 301, ../sass/style.scss */
blockquote {
  margin: 30px 0 30px;
  font-family: Arvo;
  font-size: 24px;
  font-style: italic;
  position: relative;
  color: #999999;
}

/* line 302, ../sass/style.scss */
blockquote:before {
  content: " ";
  width: 47px;
  height: 45px;
  background: url(../img/quote3.png);
  float: left;
  margin-right: 20px;
}

/* line 303, ../sass/style.scss */
blockquote:after {
  content: " ";
  width: 47px;
  height: 45px;
  background: url(../img/end-quote.png);
  float: right;
}

/* line 310, ../sass/style.scss */
blockquote small {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
  color: #333;
}

/* line 312, ../sass/style.scss */
.intro #workBtn {
  margin: -20px 0 10px;
}

/* line 313, ../sass/style.scss */
#quoteBtn {
  margin-bottom: 40px;
  margin-top: 2px;
}

/* line 315, ../sass/style.scss */
section.contact ul {
  margin: 0;
}

/* line 316, ../sass/style.scss */
section.contact li {
  list-style: none;
  display: inline;
  float: left;
  margin: 0 10px 0 20px;
  padding: 12px 0 15px 40px;
  font-weight: bold;
  background: url(../img/icons.png) 6px 0 no-repeat;
}

/* line 326, ../sass/style.scss */
section.contact li.mobile {
  background-position: 12px -59px;
}

/* line 327, ../sass/style.scss */
section.contact li.email {
  background-position: 4px -113px;
}

/* line 328, ../sass/style.scss */
section.contact li:first-child {
  margin-left: 0;
}

/* line 330, ../sass/style.scss */
footer {
  background: #333333;
  border-top: 2px solid #bb0000;
  margin: 0 0 0 0;
  padding: 20px 0;
  overflow: visible;
  color: #fff;
  position: relative;
  float: left;
  width: 100%;
}

/* line 331, ../sass/style.scss */
footer nav ul {
  margin-top: 0;
}

/* line 332, ../sass/style.scss */
footer ul li {
  list-style: none;
  display: inline;
  float: left;
  margin-right: 20px;
}

/* line 333, ../sass/style.scss */
footer ul li a {
  color: #fff;
}

/* line 334, ../sass/style.scss */
footer small {
  float: left;
  margin-top: 5px;
}

/* line 335, ../sass/style.scss */
footer small a {
  text-decoration: none;
}

/* line 336, ../sass/style.scss */
footer small a:hover {
  text-decoration: underline;
}

/* line 338, ../sass/style.scss */
#cta-div h4 {
  display: inline;
  margin-right: 30px;
}

/* line 341, ../sass/style.scss */
ul.bullets li {
  list-style: none;
  padding: 0 0 2px 25px;
  margin: 0 0 0 10px;
  position: relative;
}

/* line 342, ../sass/style.scss */
ul.bullets li:before {
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  left: 5px;
  top: 4px;
  border-radius: 10px;
  background: #bb0000;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(10%, #bb0000), color-stop(100%, #880000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* IE10+ */
  background: linear-gradient(top, #dddddd 0%, #bb0000 10%, #880000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$highlightClr', endColorstr='$highlightClrDark',GradientType=0 );
  /* IE6-9 */
}

/* line 354, ../sass/style.scss */
#tiling-work .workImg {
  height: 200px;
  cursor: pointer;
}
/* line 355, ../sass/style.scss */
#tiling-work .wall {
  background: url(../img/tiling-work/mosaic-tiling-2.jpg) 0 0 no-repeat;
  background-size: cover;
}
/* line 356, ../sass/style.scss */
#tiling-work .kitchen {
  background: url(../img/tiling-work/kitchen-tiling-cork.jpg) 0 -65px no-repeat;
  background-size: cover;
}
/* line 357, ../sass/style.scss */
#tiling-work .bathroom {
  background: url(../img/tiling-work/cork-bathroom-tiling-2.jpg) 0 -190px no-repeat;
}

/* line 360, ../sass/style.scss */
.sliderCTA {
  opacity: 0.6;
  background: black;
  float: left;
  width: 440px;
  color: #fff;
  padding: 5px 10px;
  margin-top: 170px;
  cursor: pointer;
  display: none;
}

/* line 362, ../sass/style.scss */
#slider {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 1280px;
  height: 800px;
  display: none;
}
/* line 363, ../sass/style.scss */
#slider #closeBtn {
  color: #fff;
  font-size: 12px;
  margin: 5px 0 0 10px;
  float: left;
  cursor: pointer;
}
/* line 364, ../sass/style.scss */
#slider #closeBtn i {
  font-style: normal;
  font-size: 18px;
  color: #fff;
  float: left;
  margin-right: 4px;
  line-height: 1em;
}
/* line 366, ../sass/style.scss */
#slider .sliderNav {
  position: absolute;
  top: 320px;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}
/* line 367, ../sass/style.scss */
#slider .sliderNav span {
  float: left;
  margin-top: -6px;
}
/* line 368, ../sass/style.scss */
#slider .sliderNav:hover {
  background: rgba(255, 255, 255, 0.3);
}
/* line 370, ../sass/style.scss */
#slider .sliderNav.left {
  left: 50px;
}
/* line 371, ../sass/style.scss */
#slider .sliderNav.left span {
  margin-left: 8px;
}
/* line 373, ../sass/style.scss */
#slider .sliderNav.right {
  right: 60px;
}
/* line 374, ../sass/style.scss */
#slider .sliderNav.right span {
  margin-left: 12px;
}
/* line 376, ../sass/style.scss */
#slider .imgHolder {
  width: 800px;
  overflow: hidden;
  border: 2px solid #fff;
}
/* line 377, ../sass/style.scss */
#slider ul {
  width: 20000px;
}
/* line 378, ../sass/style.scss */
#slider ul li {
  float: left;
  list-style: none;
  position: relative;
  margin: 0;
}
/* line 379, ../sass/style.scss */
#slider ul li div {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.8);
}
/* line 380, ../sass/style.scss */
#slider ul li div p {
  color: #eee;
  margin: 20px;
}

/* line 386, ../sass/style.scss */
.workItem {
  float: left;
  margin-bottom: 20px;
}

/******************************** Contact Page ******************************************/
/* line 388, ../sass/style.scss */
#contact h2 {
  margin-bottom: 15px;
  border-bottom: 1px solid #bb0000;
  font-weight: normal;
}

/* line 394, ../sass/style.scss */
#contact-details {
  border: 2px solid #bb0000;
  border-radius: 10px;
  background: #fafafa;
  padding: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}

/* line 404, ../sass/style.scss */
#contact-details ul {
  margin-top: 20px;
}

/* line 408, ../sass/style.scss */
#contact-details li {
  font-weight: bold;
}

/* line 412, ../sass/style.scss */
#contact-form {
  border: 2px solid #bb0000;
  background: #fafafa;
  width: 465px;
  padding: 20px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  position: relative;
  margin-bottom: 30px;
}

/* line 428, ../sass/style.scss */
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form label {
  font-size: 15px;
  margin-bottom: 2px;
  padding: 3px;
  border-radius: 5px;
}

/* line 437, ../sass/style.scss */
#contact-form input,
#contact-form select,
#contact-form textarea {
  width: 450px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 4px;
}

/* line 446, ../sass/style.scss */
#contact-form input:focus,
#contact-form select:focus,
#contact-form textarea:focus {
  box-shadow: 0 0 3px #AFCDD8;
  border: 1px solid #eee;
}

/* line 451, ../sass/style.scss */
#contact-form textarea {
  height: 150px;
  resize: none;
}

/* line 456, ../sass/style.scss */
#contact-form label {
  display: block;
}

/* line 460, ../sass/style.scss */
#contact-form .required {
  font-weight: bold;
  color: #F00;
}

/* line 465, ../sass/style.scss */
#contact-form #submit-button {
  width: 100px;
  color: #FFF;
  border: none;
  display: block;
  float: right;
  margin-bottom: 0px;
  margin-right: 6px;
}

/* line 475, ../sass/style.scss */
#contact-form #submit-button:active {
  position: relative;
  top: 1px;
}

/* line 480, ../sass/style.scss */
#contact-form #loading {
  width: 32px;
  height: 32px;
  background-image: url(../img/form/loading.gif);
  display: block;
  position: absolute;
  right: 230px;
  bottom: 16px;
  display: none;
}

/* line 491, ../sass/style.scss */
#errors {
  border: solid 1px #E58E8E;
  padding: 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #ffe6e6 url(../img/form/cancel_48.png) no-repeat 405px center;
  display: none;
}

/* line 504, ../sass/style.scss */
#errors li {
  padding: 2px;
  list-style: none;
}

/* line 509, ../sass/style.scss */
#errors li:before {
  content: ' - ';
}

/* line 513, ../sass/style.scss */
#errors #info {
  font-weight: bold;
}

/* line 517, ../sass/style.scss */
#errors #info:before {
  content: '';
}

/* line 521, ../sass/style.scss */
#success {
  border: solid 1px #83D186;
  padding: 25px 10px;
  margin: 25px 0px;
  display: block;
  width: 437px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #d3edd3 url(../img/form/accepted_48.png) no-repeat 405px center;
  font-weight: bold;
  font-size: 0.8em;
  display: none;
}

/* line 536, ../sass/style.scss */
#errors.visible, #success.visible {
  display: block;
}

/* line 540, ../sass/style.scss */
#req-field-desc {
  font-style: italic;
  margin: 5px 0 0 0;
  font-size: 12px;
}

/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
/* line 547, ../sass/style.scss */
input:required, textarea:required {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* Normalize placeholder styles */
/* chrome, safari */
/* line 557, ../sass/style.scss */
::-webkit-input-placeholder {
  color: #CCC;
  font-style: italic;
}

/* mozilla */
/* line 563, ../sass/style.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #CCC;
  font-style: italic;
}

/* ie (faux placeholder) */
/* line 569, ../sass/style.scss */
input.placeholder-text, textarea.placeholder-text {
  color: #CCC;
  font-style: italic;
}

/* line 574, ../sass/style.scss */
.black {
  margin-bottom: -360px;
}

/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 585, ../sass/style.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 586, ../sass/style.scss */
.ir br {
  display: none;
}

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
/* line 590, ../sass/style.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
/* line 594, ../sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
/* line 597, ../sass/style.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 600, ../sass/style.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
/* line 603, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 604, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 605, ../sass/style.scss */
.clearfix {
  zoom: 1;
}

/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 632, ../sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: sanbeiji.com/archives/953 */
  /* line 633, ../sass/style.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 634, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 635, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 636, ../sass/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 637, ../sass/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 638, ../sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  /* line 639, ../sass/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 640, ../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 642, ../sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 643, ../sass/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
