body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
.btn {
  border-radius: 30px;
  font-weight: 300;
}
.uppercase {
  text-transform: uppercase;
}
ul.disc {
  list-style-type: circle;
}
h2 {
  font-size: 18px;
  margin: 70px 0 20px;
}


.navbar-inverse {
  background: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: transparent;
}
.hero_agency {
  background-image: url(/img/bathroom-tiles-dark.jpg);
  text-align:center;
  position: relative;
  color: #fff;
}
.hero {
  position: relative;
  padding: 170px 0 100px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .btn-link {
  color: #fff;
}
.hero-heading {
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 40px;
}
.hero-subheading {
  color: #fff;
  margin-bottom: 40px;
}

#gallery-descriptions {
  display: none;
}

#main-footer {
  margin-top: 60px;
  background-color: #333;
  color: #fff;
  padding: 30px 0 20px;
}
#main-footer p, #main-footer span, #main-footer a, #main-footer i {
  color: #fff;
}